.App {
}

/* Login page */
.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-tagline{
    margin-top: 8px;
    margin-bottom: 80px;
}